@font-face {
  font-family: 'iconfont';
  /* project id 1451521 */
  src: url('//at.alicdn.com/t/font_1451521_8u8dmi24f6p.eot');
  src: url('//at.alicdn.com/t/font_1451521_8u8dmi24f6p.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1451521_8u8dmi24f6p.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1451521_8u8dmi24f6p.woff') format('woff'),
    url('//at.alicdn.com/t/font_1451521_8u8dmi24f6p.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1451521_8u8dmi24f6p.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e606";
}

.icon-search:before {
  content: "\e6bd";
}

.icon-playlist:before {
  content: "\e6e4";
}

.icon-random-play:before {
  content: "\e771";
}

.icon-play:before {
  content: "\e600";
}

.icon-dujia:before {
  content: "\e8aa";
}

.icon-sq:before {
  content: "\e601";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-play:before {
  content: "\e631";
}

.icon-pause:before {
  content: "\e608"
}

.icon-next:before {
  content: "\e619";
}

.icon-prev:before {
  content: "\e603"
}

.icon-sequence:before {
  content: "\e665"
}

.icon-loop:before {
  content: "\e667"
}

.icon-random:before {
  content: "\e624"
}

.icon-favorite:before {
  content: "\e604";
}

.icon-play-mini:before {
  content: "\e78e"
}

.icon-pause-mini:before {
  content: "\e62e"
}