@font-face {
  font-family: "iconfont"; /* project id 1451521 */
  src: url("//at.alicdn.com/t/font_1451521_49gc9qcwsbt.eot");
  src: url("//at.alicdn.com/t/font_1451521_49gc9qcwsbt.eot?#iefix") format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1451521_49gc9qcwsbt.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1451521_49gc9qcwsbt.woff") format("woff"),
    url("//at.alicdn.com/t/font_1451521_49gc9qcwsbt.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1451521_49gc9qcwsbt.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e606";
}

.icon-search:before {
  content: "\e6bd";
}

.icon-playlist:before {
  content: "\e6e4";
}

.icon-random-play:before {
  content: "\e6f3";
}

.icon-play:before {
  content: "\e600";
}

.icon-dujia:before {
  content: "\e8aa";
}

.icon-sq:before {
  content: "\e601";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-play:before {
  content: "\e631";
}

.icon-pause:before {
  content: "\e608";
}

.icon-next:before {
  content: "\e619";
}

.icon-prev:before {
  content: "\e603";
}

.icon-sequence:before {
  content: "\e665";
}

.icon-loop:before {
  content: "\e667";
}

.icon-random:before {
  content: "\e624";
}

.icon-not-favorite:before {
  content: "\e60b";
}

.icon-favorite:before {
  content: "\e60a";
}

.icon-play-mini:before {
  content: "\e78e";
}

.icon-pause-mini:before {
  content: "\e62e";
}

.icon-tishi:before {
  content: "\e64a";
}

.icon-delete:before {
  content: "\e60e";
}

.icon-search1:before {
  content: "\e65e";
}

.icon-hot:before {
  content: "\e600";
}

.icon-music:before {
  content: "\e620";
}

.icon-clear:before {
  content: "\e639";
}

.icon-add:before {
  content: "\e641";
}

.icon-delete-list:before {
  content: "\e604";
}

.icon-add-list:before {
  content: "\e61a";
}
