// 颜色定义规范
$color-background: #f2f3f4;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-background-dd: rgb(252, 253, 253);
$color-background-ddd: rgba(255, 255, 255, 0.1);
$color-dialog-background: rgb(204, 204, 204);
$color-theme: #31c27c;
$color-text: #fff;
$color-text-title: #000;
$color-text-g: #31c27c;
$color-text-gg: rgba(0, 0, 0, 0.5);
$color-text-ggg: #757575;
$color-text-gggg: #c7c7c7;
$color-text-lm: rgb(228, 228, 228);
$color-text-ll: rgba(255, 255, 255, 0.8);
$color-text-lll: rgba(255, 255, 255, 0.6);
$color-text-llll: rgb(255, 255, 255);
$color-text-s: #f6f3f3;
//字体定义规范
$font-size-small-ss: 9px;
$font-size-small-s: 10px;
$font-size-small: 11px;
$font-size-small-x: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large-s: 17px;
$font-size-large: 18px;
$font-size-large-x: 22px;
